body {
    background-color: lightgreen;
}

.page {
    height: 550px;
}

.updiv {
    height: 450px;
}

.downdiv {
    height: 100px;
}

.dropSlide {
    margin: 0;
    padding: 0;
    height: 50px;
}

.dragSlide {
    margin: 0;
    padding: 0;
}

.item {
    float: left;
    width: 20%;
    height: 100%;
}

#div1 {
    width: 50px;
    height: 100px;
    background-color: antiquewhite;
}

#drag1 {
    width: 10px;
    height: 10px;
    background-color: blue;
}

.brd {
    border: 1px solid black;
}